{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
        <link href="https://fonts.gstatic.com" rel="preconnect" />
        <link as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="preload" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
        <link href="{% static 'styles/main.min.css' %}" media="screen" rel="stylesheet" />
        <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body x-data="global()" x-init="themeInit()" :class="isMobileMenuOpen ? 'max-h-screen overflow-hidden relative' : ''" class="dark:bg-primary" >
        {% wagtailuserbar %}


        <div id="main">
            <div class="container mx-auto">

                {% block navigation %}
                    {% include 'includes/navigation.html' %}
                {% endblock navigation %}


                {% block content %}{% endblock %}


            <!-- Footer -->
            <div class="flex flex-col items-center justify-between border-t border-grey-lighter py-10 sm:flex-row sm:py-12" >
                <div class="mr-auto flex flex-col items-center sm:flex-row">
                  <a href="/" class="mr-auto sm:mr-6">
                    <img src="{% static 'img/logo.svg' %}" alt="logo" />
                  </a>
                  <p class="pt-5 font-body font-light text-primary dark:text-white sm:pt-0">
                    ©2020 John Doe.
                  </p>
                </div>
                <div class="mr-auto flex items-center pt-5 sm:mr-0 sm:pt-0">

                  <a href="https://github.com/ " target="_blank">
                    <i
                      class="text-4xl text-primary dark:text-white pl-5 hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-github"
                    ></i>
                  </a>

                  <a href="https://codepen.io/ " target="_blank">
                    <i
                      class="text-4xl text-primary dark:text-white pl-5 hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-codepen"
                    ></i>
                  </a>

                  <a href="https://www.linkedin.com/ " target="_blank">
                    <i
                      class="text-4xl text-primary dark:text-white pl-5 hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-linkedin"
                    ></i>
                  </a>

                </div>
              </div>

            </div>
        </div>


        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
