<div class="border-b border-grey-lighter pt-10 pb-8">
    {% for orderable in post.categories.all %}
        <span class="mb-4 inline-block rounded-full bg-{{ orderable.category.color }}-light px-2 py-1 font-body text-sm text-{{ orderable.category.text_color }}">
            {{ orderable.category.name }}
        </span>
    {% endfor %}
    <a
      href="{{ post.url }}"
      class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"
      >{{ post.title }}</a
    >
    <div class="flex items-center pt-4">
      <p class="pr-2 font-body font-light text-primary dark:text-white">
        {{ post.first_published_at|date:"F d, Y"}}
      </p>
      <span class="font-body text-grey dark:text-white">//</span>
      <p class="pl-2 font-body font-light text-primary dark:text-white">
        {{ post.reading_time_in_minutes }} min read
      </p>
    </div>
</div>
